<div class="productos">
    <div class="producto">
        <img src="cuaderno_pedidos.png" alt="0">
        <div class="descripcion">
            <h2>Cuadernos de Pedidos</h2>
            <p>Precio: Según Personalizado</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>

    <div class="productos">
        <div class="producto">
            <img src="images/notepad_planner.jpg" alt="1">
            <div class="descripcion">
                <h2>Notepad Planner Semanal</h2>
                <p>Precio: L.200</p>
                <a href="" class="btn-comprar">Comprar</a>
            </div>
        </div>

        <div class="producto">
            <img src="images/sellos_maestros.jpg" alt="2">
            <div class="descripcion">
                <h2>Sellos para Maestros set de 8</h2>
                <p>Precio: L.500</p>
                <a href="#" class="btn-comprar">Comprar</a>
            </div>
        </div>

        <div class="producto">
            <img src="images/set_sellos.jpg" alt="3">
            <div class="descripcion">
                <h2>Juego de Sellos 8 Piezas</h2>
                <p>Precio: L.450</p>
                <a href="" class="btn-comprar">Comprar</a>
            </div>
        </div>

        <div class="producto">
            <img src="images/ink_pad.jpg" alt="4">
            <div class="descripcion">
                <h2>Recollections Ink Pad</h2>
                <p>Precio: L.150</p>
                <a href="" class="btn-comprar">Comprar</a>
            </div>
        </div>
    </div>
</div>