<div class="productos">
            <div class="producto">
                <img src="img_2/sketchbook.jpg" alt="sketchbook">
                <div class="descripcion">
                    <h2>Sketchbooks</h2>
                    <p>Precio: L.440</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="img_2/cuadernos de disco.jpg" alt="cuadernos">
                <div class="descripcion">
                    <h2>cuaderno de disco</h2>
                    <p>Precio: L.617</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="img_2/post-its.jpg" alt="post">
                <div class="descripcion">
                    <h2>Post-its</h2>
                    <p>Precio: L.50</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
        </div>