<header>
        <h1>COLORSTATION</h1>
        <nav>
            <div>
                <div></div>
                <div></div>
                <div></div>
                </div>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="ofertas.html">Ofertas</a></li>
                    <li><a href="lapices.html">Lápices</a></li>
                    <li><a href="cuadernos.html">Cuadernos</a></li>
                    <li><a href="pinturas.html">Pinturas</a></li>
                    <li><a href="creaciones.html">Creaciones</a></li>
                    <li><a href="mision.html">Misión</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="pago.html">Pago</a></li>

                </ul>
        </nav>
    </header>