<div class="productos">
            <div class="producto">
                <img src="images/lapiz_marvel.jpg" alt="lapiz_marvel">
                <div class="descripcion">
                    <h2>Lápices de Marvel</h2>
                    <p>Precio: L.270</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/shuttle_art.jpg" alt="shuttle_art">
                <div class="descripcion">
                    <h2>Bolígrafo de gel Shuttle Art</h2>
                    <p>Precio: L.400</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/lapiz_disney.jpg" alt="lapiz_disney">
                <div class="descripcion">
                    <h2>Lápices Retráctiles de Disney</h2>
                    <p>Precio: L.45</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/lapiz_kawai.jpg" alt="lapiz_kawai">
                <div class="descripcion">
                    <h2>Lápiz Tinta Negro</h2>
                    <p>Precio: L.82</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/tombow_fundenosuke.jpg" alt="tombow_fundenosuke">
                <div class="descripcion">
                    <h2>Tombow Fundenosuke</h2>
                    <p>Precio: L.113</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/pentel_signpen.jpg" alt="pentel_signpen">
                <div class="descripcion">
                    <h2>Pentel Brush Sign Pen</h2>
                    <p>Precio: L.500</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/lapiz_arteza.jpg" alt="lapiz_arteza">
                <div class="descripcion">
                    <h2>Gel Pen Arteza</h2>
                    <p>Precio: L.24</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/ohuhu_set.jpg" alt="ohuhu_set">
                <div class="descripcion">
                    <h2>Ohuhu Markers Set</h2>
                    <p>Precio: L.2,800</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/dual_tropical.jpg" alt="dual_tropical">
                <div class="descripcion">
                    <h2>Dual Brush Pen Tropical Palette</h2>
                    <p>Precio: L.617</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/dual_brushables.jpg" alt="dual_brushables">
                <div class="descripcion">
                    <h2>Brushables se de 4</h2>
                    <p>Precio: L.300</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/dual_perfectpalette.jpg" alt="dual_perfectpalette">
                <div class="descripcion">
                    <h2>Bual Brush Pen Perfect Blend Palette</h2>
                    <p>Precio: L.1400</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/dual_retro.jpg" alt="dual_retro">
                <div class="descripcion">
                    <h2>Dual Brush Pen Retro Palette</h2>
                    <p>Precio: L.700</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/dual_muted.jpg" alt="dual_muted">
                <div class="descripcion">
                    <h2>Dual Brush Pen Muted Palette</h2>
                    <p>Precio: L.700</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/mildiner_brush.jpg" alt="mildiner_brush">
                <div class="descripcion">
                    <h2>Midliner Brush</h2>
                    <p>Precio: L.400</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/brushables_punta_pincel.jpg" alt="brushables_punta_pincel">
                <div class="descripcion">
                    <h2>Brushables Punta Pincel Flexible</h2>
                    <p>Precio: L.65 c/u</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/ecoline_brush.jpg" alt="ecoline_brush">
                <div class="descripcion">
                    <h2>Ecoline Brush Pen</h2>
                    <p>Precio: L.700</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/monami_plus.jpg" alt="monami_plus">
                <div class="descripcion">
                    <h2>Monami Plus Pen</h2>
                    <p>Precio: L.110</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/midliner_high.jpg" alt="midliner_high">
                <div class="descripcion">
                    <h2>Midliner Highlighters</h2>
                    <p>Precio: L.350</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/mildiner_brush.jpg" alt="mildiner_brush">
                <div class="descripcion">
                    <h2>Midliner Brush</h2>
                    <p>Precio: L.400</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <div class="producto">
                <img src="images/pigma_pen.jpg" alt="pigma_pen">
                <div class="descripcion">
                    <h2>Pigma Micron Pen</h2>
                    <p>Precio: L.500</p>
                    <a href="" class="btn-comprar">Comprar</a>
                </div>
            </div>

        </div>