<div class="container">
    <div class="box">
        <h2>01</h2>
        <h3>Misión</h3>
        <p>En COLORSTATION, nos dedicamos a ofrecer una amplia gama de productos de alta calidad para cubrir las
            necesidades escolares, de oficina y artísticas de nuestros clientes. Nuestro compromiso es
            proporcionar una experiencia de compra conveniente y satisfactoria. Buscamos ser la primera opción
            para quienes buscan productos de papelería y
            creaciones artísticas únicas, brindando inspiración y herramientas para expresar la creatividad en
            cualquier proyecto.</p>
    </div>
    <div class="box">
        <h2>02</h2>
        <h3>Visión</h3>
        <p>En COLORSTATION, aspiramos a ser reconocidos como el destino líder en línea para la compra de útiles
            escolares, suministros de oficina y productos de papelería creativa. Nos esforzamos por ser
            innovadores en la selección de productos, ofreciendo constantemente nuevas y emocionantes opciones
            para nuestros clientes.</p>
    </div>
    <div class="box">
        <h2>03</h2>
        <h3>Servicios</h3>
        <p>Somos una tienda completamente en línea comprometida a brindarles productos de calidad asegurando la
            satisfacción de nuestros clientes.</p>
    </div>
</div>