<div>
    <section class="Nosotros">
        <img src="img_nosotros/Logo Colorstation.jpg" alt="Logo">
    </section>
    <br />

    <section>
        <p>¡Bienvenido a la seccion de NOSOTROS de COLORSTATION!</p>
        <p>Ventas al por menor
            en línea de materiales escolares 📒✏️y Slime✨
            <br>Envios a nivel nacional📦 🇭🇳
        </p>
    </section>
</div>
<br />

<div class="sobrenosotros">
    <section>
        <p>
            Empresa comprometida con el desarrollo del país, es por eso que ofreciendo productos y
            servicios en la rama de la materiales escolares y que nuestros clientes pongan a pruba su
            creatividad
            , queremos colaborar con la mejora de la calidad de vida de nuestros clientes y amigos.
            En COLORSTATION trabajamos para ofrecer productos de alta
            calidad a través de nuestra tienda virtual, seleccionamos los productos cque puedan ofrecer
            más para la entera satisfacción de nuestros clientes.
        </p>
        <br />
        <p>
            La venta y entrega de productos, para suplir las necesidades de los clientes, es uno de los pilares
            más importantes, que nos
            motiva a seguir trabajando en pro de la satisfacción de nuestros clientes. En C&D TecHNologia nos
            preocupamos porque el cliente
            pueda recibir sus productos en los tiempos y formas establecidos en la compra, es por eso que
            trabajamos constante y cuidadosamente
            en la selección de proveedores de calidad que nos brinden la seguridad y el conocimiento adecuado,
            con el objetivo de llegar al cliente
            con el producto que necesita.
        </p>
    </section>

</div>