<div class="productos">
    <div class="producto">
        <img src="img_ofertas/1.png" alt="Christmas">
        <div class="descripcion">
            <br>
            <h2>Christmas Box</h2>
            <p>Precio: L.200</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/2.png" alt="Giveaway">
        <div class="descripcion">
            <br>
            <h2>Giveaway Ticket</h2>
            <p>Precio: L.10</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>

    <div class="producto">
        <img src="img_ofertas/7.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 1</h2>
            <p>Precio: L.150</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/8.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 2</h2>
            <p>Precio: L.150</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/9.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 3</h2>
            <p>Precio: L.150</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/10.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 4</h2>
            <p>Precio: L.200</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/11.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 5</h2>
            <p>Precio: L.250</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/12.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>Kit Estudiantes 6</h2>
            <p>Precio: L.220</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_ofertas/6.png" alt="Oferta">
        <div class="descripcion">
            <br>
            <h2>lapices de Colores 2 Kit</h2>
            <p>Precio: L.370</p>
            <br>
            <a href="" class="btn-comprar-oferta">Comprar</a>
        </div>
    </div>


</div>