<div class="container_pago">

            <form action="">

                <div class="row">

                    <div class="col">

                        <h3 class="title">Ingresa tus Datos</h3>

                        <div class="inputBox">
                            <span>Nombre :</span>
                            <input type="text">
                        </div>
                        <div class="inputBox">
                            <span>Correo :</span>
                            <input type="email">
                        </div>
                        <div class="inputBox">
                            <span>Dirección :</span>
                            <input type="text">
                        </div>
                        <div class="inputBox">
                            <span>Ciudad :</span>
                            <input type="text">
                        </div>

                        <div class="flex">
                            <div class="inputBox">
                                <span>Departamento :</span>
                                <input type="text" placeholder="">
                            </div>
                        </div>

                    </div>

                    <div class="col">

                        <h3 class="title">Pago</h3>

                        <div class="inputBox">
                            <span>Tarjetas Aceptadas :</span>
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="inputBox">
                            <span>Nombre en Tarjeta :</span>
                            <input type="text" placeholder="Mario Ramirez Lara">
                        </div>
                        <div class="inputBox">
                            <span>Nº de Tarjeta :</span>
                            <input type="number" placeholder="1111-2222-3333-4444">
                        </div>
                        <div class="inputBox">
                            <span>Fecha de Vencimiento :</span>
                            <input type="text" placeholder="03/2028">
                        </div>

                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="123">
                        </div>
                    </div>

                </div>

        </div>

        <input type="submit" value="Enviar" class="submit-btn">
        </form>

        </div>

        <div class="redes-sociales">
            <a class="redes-sociales__button" href="https://www.instagram.com/colorstationhn?igsh=M240ODh5c3Y1NDNp"
                target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <p>Instagram</p>
            </a>
            <a class="redes-sociales__button" href="https://wa.me/31411196/?text=colorstation " target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <p>Whatsapp</p>
                <p>+504 3141-1196</p>
            </a>
        </div>