<div class="productos">
    <div class="producto">
        <img src="img_2/pinturas van gogh.jpg" alt="Pintura">
        <div class="descripcion">
            <h2>Pinturas Van Gogh</h2>
            <p>Precio: L.700</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_2/colores crayola.jpg" alt="Pintura">
        <div class="descripcion">
            <h2>Colores crayola</h2>
            <p>Precio: L.230</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_2/slimes.jpg" alt="Pintura">
        <div class="descripcion">
            <h2>Slimes</h2>
            <p>Precio: 450</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_2/crayola paint maker.jpg" alt="Pintura">
        <div class="descripcion">
            <h2>Crayola Paint maker</h2>
            <p>Precio: L.990</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>
    <div class="producto">
        <img src="img_2/libros de pintar.jpg" alt="Pintura">
        <div class="descripcion">
            <h2>Libritos de pintar</h2>
            <p>Precio: L.660</p>
            <a href="" class="btn-comprar">Comprar</a>
        </div>
    </div>
</div>